.statistics {
    display: block;
    margin-right: 30px;
        border: 1px solid #D3D3D3;
        border-radius: 4px;
        font-size: 16px;
        text-align: center;
     
        background-color: #fff;
        box-shadow: 10px 5px 5px #D3D3D3;
        color: #696969;
}

.title {
    font-size: 20px;
        font-weight: bold;
        color: #000000;
        margin-top: 28px;
        margin-bottom: 28px;
}

.stat-list {
    display: flex;
    
        list-style: none;
        background-color: #F5F5F5;
        margin: 0;
        padding: 0;
    
        border-top: 1px solid #DCDCDC;
}

.item {
    display: flex;
        flex-direction: column;
        padding: 10px;
        width: 50px;
        border-right: 1px solid #DCDCDC;
        color: #fff;
}

.label {
    font-size: 12px;
}

.percentage {
    font-weight: bold;
        margin-top: 5px;
}